.HeaderHolder{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
    color: red;
}

.DateField{
    padding-bottom: 20px;
    padding-left: 50px;
    padding-top: 20px;
}

.CardTitleHolder{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.CardButton{
    padding-bottom: 20px;
}

.DisplayDetails{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 50px;
}

.ShowInfo{
    color: blue;
}


.SaveDetails{
    padding-top: 50px;
    padding-bottom: 50px;
}

.CustomerComponent{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.ProductComponent{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.AllHolder{
    background-color: lightgray;
}

.SuccessMessage{
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(41, 167, 41);
}

.ErrorMessage{
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: red;
}
